@model AppMarkom.Web.ViewModels.role.roleIndex
@{
    Layout = "_Layout";
}


<section class="content">
    <div class="container-fluid">
        <!-- /.row -->
        <div class="row">
            <div class="col-12" id="tableRole">
                @*card here---------*@
                <!-- /.card -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            GetList();
        });

        function GetList() {
             $.ajax({
                url: '@Url.Action("GetRoles","Role")',
                type: 'get',
                success: function (result) {
                     $('#tableRole').html(result);
                 },
                 error: function (err) {
                     $('#tableRole').html(err);
                }
            });
        }
        @*$('#btnNew').click(function () {
            $.ajax({
                url: '@Url.Action("Create","Role")',
                type: 'get',
                success: function (result) {
                    $('.modal-title').html("add Roles");
                    $('.modal-body').html(result);
                    $('.modal').modal("show");
                }
            });
        });

        $('#btnShow').click(function () {
            $.ajax({
                url: '@Url.Action("GetRoleId", "Role")',
                type: 'get',
                data: { id: $(this).attr('data-id') },
                success: function (result) {
                    $('.modal-title').html("View Roles - " + $('#Name').val() + "(" + $('#Code').val() + ")");
                    $('.modal-body').html(result);
                    $('.modal').modal("show");
                }
            });
        });

        $('#btnEdit').click(function () {
            $.ajax({
                url: '@Url.Action("Update","Role")',
                type: 'get',
                data: { id: $(this).attr('data-id') },
                success: function (result) {
                    $('.modal-title').html("Edit Roles - " + $('#Name').val() + "(" + $('#Code').val() + ")");
                    $('.modal-body').html(result);
                    $('.modal').modal("show");
                }
            });
        });

        $('#btnDelete').click(function () {
            $.ajax({
                url: '@Url.Action("Delete","Role")',
                type: 'get',
                data: { id: $(this).attr('data-id') },
                success: function (result) {
                    $('.modal-body').html(result);
                    $('.modal').modal("show");
                }
            });
        });

        $('#btnSearch').click(function () {
            $.ajax({
                url: '@Url.Action("Search","Role")',
                type: 'get',
                data: {
                    code: $('#txtCode').val(),
                    name: $('#txtName').val(),
                    createdDate: $('#txtCreated').val(),
                    created: $('#txtCreatedBy').val(),
                },
                success: function (result) {
                    $('#tableRole').html(result);
                }
            })
        })*@
    </script>
}
