@model AppMarkom.Web.ViewModels.role.roleViewModel

<form role="form" id="form-update">
    <div class="card-body">
        @Html.HiddenFor(model => model.Id)
        @Html.HiddenFor(model => model.Code)
        @Html.HiddenFor(model => model.IsDelete)
        @Html.HiddenFor(model => model.CreatedBy)
        @Html.HiddenFor(model => model.CreatedDate)
        <div class="form-group">
            <label>Role Code</label>
            @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "form-control", @disabled = "disabled" } })
            @Html.ValidationMessageFor(model => model.Code, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Role Name</label>
            @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
        </div>
        <div class="form-group">
            <label>Role Description</label>
            @Html.EditorFor(model => model.Description, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
        </div>
    </div>
    <!-- /.card-body -->

    <div class="card-footer">
        <div class="btn btn-group">
            <button type="submit" class="btn btn-primary">Submit</button>
            <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $('#form-update').submit(function () {
        $.ajax({
            url: '@Url.Action("Update","Role")',
            type: 'put',
            data: $(this).serialize(),
            success: function (result) {
                console.log(result);
                if (result.isSuccess) {
                    alert("Data Updated");
                    $('.modal').modal("hide");
                    window.location.href='@Url.Action("GetRoles","Role")'
                }
            }
        });
        return false;
    });
</script>