@model AppMarkom.Web.ViewModels.company.companyViewModel

<form method="post" class="form" id="form-create">
    <div class="row">
        <div class="col-sm-6">
            <!-- text input -->
            <div class="form-group">
                <label>Company Code</label>
                <input type="text" class="form-control" placeholder="Auto Generated" disabled/>
            </div>
            <div class="form-group">
                <label>Company Name</label>
                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Phone</label>
                @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <label>Email</label>
                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <label>Address</label>
                @Html.TextAreaFor(model => model.Address, 4, 29, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Address, "", new { @class = "text-danger" })
            </div>
        </div>

    </div>
    <div class="row">
        <div class="btn btn-group" style="text-align:right">
            <button type="submit" class="btn btn-primary btn-sm" id="btnSave">Submit</button>
            <button class="btn btn-warning btn-sm" id="btnClose" data-dismiss="modal">Close</button>
        </div>
    </div>
</form>

<script type="text/javascript">
    $("#form-create").submit(function () {
        $.ajax({
            url: '@Url.Action("Create","Company")',
            type: this.method,
            data: $(this).serialize(),
            success: function (result) {
                if (result.success) {
                    alert("Data Successfully Added");
                    $(".modal").modal("hide");
                } else {
                    alert("Error!." + result.message)
                }
            }
        });
        return false;
    });
</script>